@import "primaryStyle.css";

h1 {
  text-align: center;
  padding-top: 2%;
  color: var(--lightblue) !important;
}

form {
  text-align: center;
}

form label {
  margin-top: 20px;
}

span {
  color: var(--orange);
}

p {
  text-align: center;
  font-size: 14px;
}

.yel-btn {
  margin-top: 40px;
  width: 180px;
}

.sign-up-btn {
  margin-top: 25px;
  width: 125px;
}

.sign-up {
  margin-top: 25px;
}

.sign-up-btn {
  margin-top: -60px;
}
