@import "primaryStyle.css";

h1 {
  text-align: center;
  padding-top: 2%;
  color: #64c9cf !important;
}

.form-input {
  border-radius: 25px !important;
  border-color: white !important;
}

span {
  color: #df711b;
}

p {
  text-align: center;
}
