@import "primaryStyle.css";

h1 {
  text-align: center;
  padding-top: 2%;
  color: #64c9cf !important;
}

form {
  width: 300px;
}

form label {
  margin-top: 20px;
}

span {
  color: #df711b;
}

p {
  text-align: center;
}

.yel-btn {
  margin: 25px;
  width: 150px;
}

.sign-up {
  margin-top: 40px;
}

.sign-up-btn {
  margin-top: -35px;
}
