:root {
  --bgcolor: #fff8e6;
  --sandYellow: #fde49c;
  --yellow: #ffb740;
  --orange: #df711b;
  --lightblue: #64c9cf;
  --green: #bacf64;
  --lightgray: #c1bfbf;
}

body {
  background-color: var(--bgcolor) !important;
  background-image: url("../images/potes.png") !important;
  align-items: center !important;
}

form {
  margin: 0 auto;
  width: 400px;
}

.form-input {
  border-radius: 25px !important;
  border-color: lightgray !important;
  background-color: lightgray !important;
}

.yel-btn {
  color: black !important;
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  border-radius: 25px !important;
}

.blue-btn {
  color: black !important;
  background-color: var(--lightblue) !important;
  border-color: var(--lightblue) !important;
  border-radius: 25px !important;
}

.grey-btn {
  color: gray !important;
  background-color: var(--lightgray) !important;
  border-color: var(--lightgray) !important;
  border-radius: 25px !important;
}
