@import "primaryStyle.css";

h1 {
  padding-top: 2%;
  margin-bottom: 50px !important;
  color: var(--orange) !important;
}

form label {
  margin-top: 20px;
}

form {
  margin-right: auto;
}

.yel-btn {
  margin-top: 40px;
  width: 180px;
}

.create-user {
  text-align: center;
}

.age-input {
  width: 45px !important;
}

.phone-input {
  width: 125px !important;
}

.postnr-input {
  width: 61px !important;
}

.by-input {
  width: 208px !important;
}

table label {
  margin-right: 10px;
  margin-top: 5px;
}

.styled-table {
  width: 350px !important;
}
