@import "primaryStyle.css";

nav i {
  margin: 0px 15px 0px 15px;
}

.fa-caret-square-down {
  color: var(--orange) !important;
}

a.btn {
  margin-top: 15px;
}

.spacing div {
  margin-bottom: 25px;
}

.fa-envelope {
  color: var(--lightblue) !important;
}
body {
  background-image: none !important;
}
/* Profile image */
img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Rating styles */
.rating i {
  margin-right: 10px;
  color: var(--yellow);
}

.empty-paw {
  opacity: 50%;
}
