@import "primaryStyle.css";


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.block{
    margin: 20px;
}
.mainprofile{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.skills{
    justify-content: space-between;
    padding: 0px 0px 0px 40px;
}
.pawblock{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.goodpaw{
    color: var(--orange);
}
.emptypaw{
    color: var(--yellow);
}
.tags{
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.tag{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
}

.rectangle {
    height: 40px;
    width: 250px;
    background-color: var(--sandYellow);
  }

.rectangle > h4 {
    margin-left: 10px;
    margin-top: 5px;
}
.triangle-up {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 50px solid var(--sandYellow);
	border-bottom: 20px solid transparent;
}
.triangle-down {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 50px solid var(--sandYellow);
	border-bottom: 0px solid transparent;
}

.profilepicture{
    width: 45%;
    height: auto;
    margin-left: 40px;
}
img {
    width: 100%;
    min-width: 150px;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
.container > h3 {
    margin-left: 40px;
    margin-top: 20px;
}
.information{
    margin-top: 5px;
    font-size: 26px;
    padding: 20px;
    background-color: var(--sandYellow);
    border-radius: 25px;
}

.calendar{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: end;
}

.timerow{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.dayrow{
    margin-left: 78px;
}

.blueslot{
    height: 40px;
    width: 14%;
    background-color: var(--lightblue);
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}
.yellowslot{
    height: 40px;
    width: 14%;
    background-color: var(--sandYellow);
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.minislot{
    height: 40px;
    width: 75px;
    background-color: var(--lightblue);
    text-align: center;
    font-size: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blue-btn{
    text-align: center !important;
    display: table-cell !important;
    margin: 10px auto !important;
}