body {
  background-color: #fff8e6 !important;
}

h1 {
  text-align: center;
  padding-top: 2%;
  color: #64c9cf !important;
}

.form-input {
  border-radius: 25px !important;
  border-color: white !important;
}

span {
  color: #df711b;
}

p {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

.yel-btn-large {
  margin-top: 15px !important;
  color: black !important;
  background-color: #ffb740 !important;
  border-color: #ffb740 !important;
  border-radius: 25px !important;
}

.yel-btn-small {
  color: black !important;
  background-color: #ffb740 !important;
  border-color: #ffb740 !important;
  border-radius: 25px !important;
}
